{% load static %}

<!DOCTYPE html>

<!-- Start Hearder -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="{%static 'css/style.css'%}">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap">


{% include "parts/navbar.html" %}


<!-- End Hearder -->

{% block body%}


{% endblock body%}

{% include "parts/footer.html" %}