{% extends "base.html" %}


{% load static %}


{% block body%}
    
    <body class="about_us">
        <!-- Start About US -->
        <div class="information">
            <div class="container">
                <h2 class="h1 text-center">About US</h2>
                <ul class="classic-list info-list">
                    <li data-class="about" class="selected">About</li>
                    <li data-class="history">History</li>
                    <li data-class="spec">Specification</li>
                    <li data-class="tech">Technical</li>
                <li data-class="review">Review</li>
            </ul>
            <div class="info-content">
                <div class="about">About Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt accusamus
                    atque modi quas mollitia ducimus iusto! Molestiae nobis fugiat nam consequatur sequi! Optio iste sit
                    illo impedit in, soluta voluptatibus!</div>
                <div class="history"> History Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea maxime dolores
                    ab omnis necessitatibus modi! Quam dicta saepe aut amet, recusandae est perferendis explicabo
                    repudiandae expedita deserunt possimus asperiores mollitia.</div>
                    <div class="spec"> Specification Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea maxime
                        dolores ab omnis necessitatibus modi! Quam dicta saepe aut amet, recusandae est perferendis
                        explicabo repudiandae expedita deserunt possimus asperiores mollitia.</div>
                        <div class="tech"> Technical Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea maxime dolores
                            ab omnis necessitatibus modi! Quam dicta saepe aut amet, recusandae est perferendis explicabo
                    repudiandae expedita deserunt possimus asperiores mollitia.</div>
                    <div class="review"> Review Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea maxime dolores
                        ab omnis necessitatibus modi! Quam dicta saepe aut amet, recusandae est perferendis explicabo
                        repudiandae expedita deserunt possimus asperiores mollitia.</div>
                    </div>
                </div>
            </div>
            <!-- End About US -->
            
        {% endblock body%}