{% extends "base.html" %}


{% load static %}


{% block body%}

<body class="detail">

    <div class="contanier">
        <div class="row justify-content-center">
            <div class="card  single-post">
                {% if post.img %}
                <img src="{{post.img.url}}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{post}}</h5>
                    <p class="card-text">{{post.content | safe}}</p>
                    <!-- <a href="#" class="btn btn-primary">Know More</a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3 buttons-controler">
        <a href="{% url 'post:edit_post' post.id %}" class="btn btn-outline-primary btn-sm px-4">
            <i class="fas fa-edit"></i>Edit Post
        </a>
        <br>
        <a href="{% url 'post:delete_post' post.id %}" class="btn btn-danger btn-sm px-4">
            <i class="fas fa-trash"></i> Delete Post</a>
    </div>

{% endblock body%}