{% extends "base.html" %}
{% load django_bootstrap5 %}

{% load static %}


{% block body%}

<body class="edit_post">

    <div class="contanier  form">
        <div class="row justify-content-center">
            <form action="" method="POST" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="OK" %}
                {% bootstrap_button button_type="reset" content="Cancel" %}
            </form>
        </div>
    </div>

    {% endblock body%}